.page.theme_dark {
  --subtitle-color: #000028;
  --accent-color: #ff0070;
  --background-color: #000028;
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --text-shadow-color: #ff0070;
  --header-title-color: #db00ff;
  --color-rec: #ff0070;
  --font-base: "IBM Plex Mono", sans-serif;
  --font-size-base: 18px;
  --background-image: url("../images/cover-image-dark.png");
}
