.page.theme_light {
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --header-title-color: #ffc2e6;
  --text-shadow-color: #ff0070;
  --subtitle-color: #353430;
  --text-color: #353430;
  --background-color: #fff1f7;
  --color-rec: #fff1f7;
  --font-base: "IBM Plex Mono", sans-serif;
  --font-size-base: 18px;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --header-title-color: #ffc2e6;
    --text-shadow-color: #ff0070;
    --subtitle-color: #353430;
    --text-color: #353430;
    --background-color: #fff1f7;
    --color-rec: #fff1f7;
    --font-base: "IBM Plex Mono", sans-serif;
    --font-size-base: 18px;
    --background-image: url(../images/cover-image-light.png);
  }
}
