/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --header-title-color: #ffc2e6;
  --text-shadow-color: #ff0070;
  --subtitle-color: #353430;
  --text-color: #353430;
  --background-color: #fff1f7;
  --color-rec: #fff1f7;
  background-image: url(../images/cover-image-light.png);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --text-shadow-color: #ff0070;
    --subtitle-color: #353430;
    --text-color: #353430;
    --background-color: #fff1f7;
    --color-rec: #fff1f7;
    --header-title-color: #ffc2e6;
  }
  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: var(--background-color);
  }

  .header__rec {
    display: none;
    color: var(--color-rec);
  }
}
